@media only screen and (min-width: 60rem) {
    .desmain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .cocaDiv {
        grid-column: span 1;
        text-align: left;

    }
}