  /*colors from your palette 
    --primary-color: #1D3557;
    --secondary-color: #f1faee;*/

  body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
  }

  header,
  footer {
    padding: 1rem;
    text-align: center;
    background-color: #1d3557;
  }

  main {
    background-color: #f1faee;
    text-align: left;
    padding: 15px;

  }

  .portrait {
    margin: 10px 10px 0 0;
    height: auto;
    max-width: 150px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #999;
  }

  h1 {
    color: #f1faee;
    padding: 10px;
    margin: 0px;
    padding: 10px;

  }

  h2 {
    margin: 0px;
    padding: 10px;
  }
  .h2des {
    color: #f1faee;
  }
  .navHome {
    color: #f1faee;
  }
  nav {
    text-align: left;
  }

  ul {
    margin: 0px;
    padding-left: auto;

  }

  .pfooter {
    margin: 0px;
    padding: 10px 10px 0px 10px;
    color: #f1faee;
  }

  span {
    color: #f1faee;
  }

  .byuLink {
    color: #f1faee;
  }
  .desmain {
    padding: 0%;
    display: grid;
    grid-template-columns: 1fr;

  }
  .micImg, .appleImg, .cocaImg {
   max-width: 99%;
   border-style: solid;
   border-width: 1px;

  }
  .micDiv, .appleDiv, .cocaDiv {
    border-style: solid;
    border-width: 1px;
    margin: .5rem;
    background-color: #ffffff;
    border-radius: 5px;
  }
  .desP {
    text-align: left;
  }
  h3, p {
    margin: 0%;
    padding: .3rem .8rem .3rem .8rem;
  }
  h3 {
    background-color: #457b9d;
    color:#ffffff ;
  }
  .imgCenter {
    text-align: center;
  }
