@media only screen and (min-width: 75rem) {
    .lower-div {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .local-ads{
        display: block;
        grid-column: 2;
    }
    .large-grid {
        padding: 2rem;
        grid-column: 1;
        grid-row: 1;
    }
    .contact {
        margin: 2rem auto;
        width: 50%;
    }
    
}