@media only screen and (min-width: 32.5rem) {

    header,
    nav,
    main,
    footer {
        max-width: 950px;
        margin: 0 auto;

        }
    .gal-header,
    .gal-nav,
    .gal-main,
    .gal-footer {
        max-width: 1400px;
        margin: 0 auto;

        }
        .pancake {
            padding: 10px;
            font-size: 1.5rem;
            font-weight: 800;
    
        }
        
    .heading h1 {
            
        font-size: 2.5rem;
    }
    .heading div {
        font-size: .9rem;
        padding: 0 20% 0 20%;
    }



    .logo {
        max-width: 200px;
    }
    .menu {
        display: flex;
    }
    .menu li:first-child {
        display: none;
    }
    .menu li {
        display: block;
        flex: 1 1 100%;
        font-size: 1rem;
    }
    h2,
h3 {
       font-size: 1.6rem;
}

main div {
    font-size: 1rem;
}
.bee {
    float: right;
    width: 300px;
    margin: 10px;
}
/*------------5 day Forecast-----------------*/

.forecast caption {
    font-size: 1.5rem;
    color: #333533;
}
#forcastDay th, #forcastImg th, #forcastTemp th {
    padding: 5px;
}
table {
    background-color: #fae132;
    margin-bottom: 15px;
}
.forecast{
    display: block;
}
table, th, td {
    border: 2px solid #333533;
    border-collapse: collapse;
  }
table {
    margin: 0 auto;
}
td img {
    max-width: 50px;
    display: flex;
    margin: 0 auto;
  }
th,td {
    text-align: center;
}
/*------------Map-----------------*/
.map{
    display: grid;
    grid-template-columns: auto auto;
}
.beeIdaho {
    display: block;
    width: 90%;
    box-shadow: 0 0 15px #cfdbd5;
    margin: 20px;
    max-width: 300px;
}
.gallery {
    display: grid;
    grid-template-columns: auto auto;

}
/*------------index------------*/
.smallart {
    display: none;
}
.mediumart {
    display: block;
    padding: 2rem;

}
.largeart {
    display: none;
}
.cards section {
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.cards section div {
    grid-column: 2;
    grid-row: 1 / span 4;
}
.cards section p {
    grid-column: 1;
    font-size: 1rem;
}

.cards section p:nth-of-type(1) {
    font-size: 1.5rem;
}

.cards section:nth-of-type(6) div {
    grid-column: 1;
    grid-row: 1 / span 4;
}
.cards section:nth-of-type(6) p {
    grid-column: 2;
}



}